<!DOCTYPE html>
<html>
  <head>
    <title>Eccomerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <head>
  <div class='head'>
    <div class='container'>
      <%= image_tag('shop.png') %>
      <nav>
        <a href="/html/">HTML</a> |
        <a href="/css/">CSS</a> |
        <a href="/js/">JavaScript</a> |
        <a href="/python/">Python</a>
      </nav>
    </div>
  </div>
    <%= javascript_importmap_tags %>
  </head>
    <div class='container'>
      <%= yield %>
    </div>
    <footer class="footer navbar-fixed-bottom">
      <div class='container footer-container'>
        <%= image_tag('american.png', :class => 'ico') %>
        <%= image_tag('master.png', :class => 'ico') %>
        <%= image_tag('paypal.png', :class => 'ico') %>
        <%= image_tag('visa.png', :class => 'ico') %>
        <%= image_tag('boleto.png', :class => 'ico') %>
      </div>
    </footer>
  </body>
</html>
