<!DOCTYPE html>
<html>
  <head>
    <title>Eccomerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <head>
  <div class='head'>
    <div class='container'>
      <image src='shop.png'>
      <nav>
        <a href="/html/">HTML</a> |
        <a href="/css/">CSS</a> |
        <a href="/js/">JavaScript</a> |
        <a href="/python/">Python</a>
      </nav>
    </div>
  </div>
    <%= javascript_importmap_tags %>
  </head>
    <div class='container'>
      <%= yield %>
    </div>
    <footer class="footer navbar-fixed-bottom">
      <div class='container footer-container'>
        <image src='american.png'class='ico'><br>
        <image src='master.png'class='ico'><br>
        <image src='paypal.png'class='ico'><br>
        <image src='visa.png'class='ico'><br>
      </div>
    </footer>
  </body>
</html>
